@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@600;700&family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("/asset/font/Humane-ExtraLight.woff2") format("woff2"), url("/asset/font/Humane-ExtraLight.woff") format("woff"), url("/asset/font/Humane-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Bold.woff2") format("woff2"), url("/asset/font/Humane-Bold.woff") format("woff"), url("/asset/font/Humane-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Regular.woff2") format("woff2"), url("/asset/font/Humane-Regular.woff") format("woff"), url("/asset/font/Humane-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Regular_1.woff2") format("woff2"), url("/asset/font/Humane-Regular_1.woff") format("woff"), url("/asset/font/Humane-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("/asset/font/Humane-SemiBold.woff2") format("woff2"), url("/asset/font/Humane-SemiBold.woff") format("woff"), url("/asset/font/Humane-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("/asset/font/Humane-Medium.woff2") format("woff2"), url("/asset/font/Humane-Medium.woff") format("woff"), url("/asset/font/Humane-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("/asset/font/Humane-ExtraLight_1.woff2") format("woff2"), url("/asset/font/Humane-ExtraLight_1.woff") format("woff"), url("/asset/font/Humane-ExtraLight_1.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Light.woff2") format("woff2"), url("/asset/font/Humane-Light.woff") format("woff"), url("/asset/font/Humane-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Thin.woff2") format("woff2"), url("/asset/font/Humane-Thin.woff") format("woff"), url("/asset/font/Humane-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Thin_1.woff2") format("woff2"), url("/asset/font/Humane-Thin_1.woff") format("woff"), url("/asset/font/Humane-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Bold_1.woff2") format("woff2"), url("/asset/font/Humane-Bold_1.woff") format("woff"), url("/asset/font/Humane-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("/asset/font/Humane-SemiBold_1.woff2") format("woff2"), url("/asset/font/Humane-SemiBold_1.woff") format("woff"), url("/asset/font/Humane-SemiBold_1.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Light_1.woff2") format("woff2"), url("/asset/font/Humane-Light_1.woff") format("woff"), url("/asset/font/Humane-Light_1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("/asset/font/Humane-Medium_1.woff2") format("woff2"), url("/asset/font/Humane-Medium_1.woff") format("woff"), url("/asset/font/Humane-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Light_2.woff2") format("woff2"), url("/asset/font/Humane-Light_2.woff") format("woff"), url("/asset/font/Humane-Light_2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Thin_2.woff2") format("woff2"), url("/asset/font/Humane-Thin_2.woff") format("woff"), url("/asset/font/Humane-Thin_2.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Bold_2.woff2") format("woff2"), url("/asset/font/Humane-Bold_2.woff") format("woff"), url("/asset/font/Humane-Bold_2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("/asset/font/Humane-SemiBold_2.woff2") format("woff2"), url("/asset/font/Humane-SemiBold_2.woff") format("woff"), url("/asset/font/Humane-SemiBold_2.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("/asset/font/Humane-Medium_2.woff2") format("woff2"), url("/asset/font/Humane-Medium_2.woff") format("woff"), url("/asset/font/Humane-Medium_2.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("/asset/font/Humane-ExtraLight_2.woff2") format("woff2"), url("/asset/font/Humane-ExtraLight_2.woff") format("woff"), url("/asset/font/Humane-ExtraLight_2.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("/asset/font/Humane-Regular_2.woff2") format("woff2"), url("/asset/font/Humane-Regular_2.woff") format("woff"), url("/asset/font/Humane-Regular_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0F0F0F;
}

.section {
  height: 100vh;
}

h1 {
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 12px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  color: #F5F5F5;
  font-family: "Mango Grotesque Med";
  font-weight: 700px;
  font-size: 20px;
  letter-spacing: 15px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 70px;
  }
}

p {
  display: block;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 8px;
  margin: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  p {
    font-size: 32px;
  }
}

.menu {
  overflow: hidden;
}
.menu input[name=menu-toggler] {
  opacity: 0;
  width: 1px;
  height: 1px;
  transform: translateX(-2px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}
.menu input[name=menu-toggler]:checked + .menu-wrap {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.menu .menu-wrap {
  transition: 0.3s all ease-in-out;
  background-color: #F5F5F5;
  opacity: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  transform: translateX(-100%);
}
.menu .menu-wrap nav ul li {
  text-align: left;
  width: 300px;
  margin-top: 40px;
  margin-left: 46px;
}
@media (any-hover: hover) {
  .menu .menu-wrap nav ul li:hover a span {
    transform: translateX(50px);
  }
}
@media screen and (min-width: 768px) {
  .menu .menu-wrap nav ul li {
    width: 500px;
  }
}
.menu .menu-wrap nav ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.menu .menu-wrap nav ul li a span {
  transition: 0.5s all ease;
  display: block;
  transform-origin: bottom left;
  border-bottom: 5px solid #E1B3D4;
  color: #0F0F0F;
  font-family: "Mango Grotesque";
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.165em;
  padding-bottom: 18px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap nav ul li a span {
    font-size: 64px;
    padding-bottom: 26px;
  }
}
.menu .menu-wrap nav ul li:last-child span {
  border: none;
}
.menu .menu-wrap nav ul li:nth-child(1):hover span {
  color: rgb(255, 230, 204);
}
.menu .menu-wrap nav ul li:nth-child(2) span:hover {
  color: rgb(255, 204, 204);
}
.menu .menu-wrap nav ul li:nth-child(3) span:hover {
  color: rgb(255, 153, 204);
}
.menu .menu-wrap nav ul li:nth-child(4) span:hover {
  color: rgb(255, 102, 204);
}
.menu .menu-wrap nav ul li:nth-child(5) span:hover {
  color: rgb(255, 0, 204);
}
.menu .menu-wrap div a {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap div a {
    padding: 30px;
  }
}
.menu .menu-wrap div .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap div .close {
    padding: 30px;
  }
}

.haut-de-page .burger-digital {
  position: absolute;
  top: 0;
  padding: 30px;
  z-index: 15;
}
.haut-de-page .burger-digital label {
  cursor: pointer;
}
.haut-de-page .titre-icon .elt .digital_titre {
  width: 35%;
  margin-top: 200px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.haut-de-page .titre-icon .elt .icon_scroll_digital {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.lescards {
  padding: 0 16px;
}
.lescards .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.lescards .cards .card {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.lescards .cards .card:hover .card__desc {
  transform: translateY(-66px);
}
.lescards .cards .card:hover .card__icon-container {
  transform: translateY(calc(-66px - 50%));
}
.lescards .cards .card:hover .card__img {
  transform: scale(120%) translateY(-50px);
}
.lescards .cards .card .card__img-container {
  height: 50%;
}
.lescards .cards .card .card__img-container .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.25s;
}
.lescards .cards .card .card__texts {
  height: 50%;
  background-color: #F5F5F5;
  position: relative;
}
.lescards .cards .card .card__texts .card__icon-container {
  position: absolute;
  bottom: 200px;
  left: 20px;
  z-index: 8888;
  border-radius: 50%;
  overflow: hidden;
  height: 48px;
  width: 48px;
  transform: translateY(-50%);
  transition: all 0.25s;
}
.lescards .cards .card .card__texts .card__icon-container .card__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lescards .cards .card .card__texts .card__desc {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
  transition: all 0.25s;
}
.lescards .cards .card .card__texts .card__desc .card__title {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  font-size: 20px;
  color: #0F0F0F;
}
.lescards .cards .card .card__texts .card__desc .card__sous-titre {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 15px;
  color: #0F0F0F;
}
.lescards .cards .card .card__texts .card__desc .card__paragraphes {
  display: flex;
  gap: 5px;
}
.lescards .cards .card .card__texts .card__desc .card__paragraphes .card__paragraphe {
  border-radius: 10px;
  padding: 5px;
  height: 66px;
  box-sizing: border-box;
}
.lescards .cards .card .card__texts .card__desc .card__paragraphes .card__paragraphe .but {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 10px;
  color: #0F0F0F;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .lescards .cards .card {
    gap: 10px;
    width: calc(50% - 10px);
  }
}
@media screen and (min-width: 992px) {
  .lescards .cards .card {
    gap: 20px;
    width: calc((100% - 20px) / 3);
  }
}

.oeuvre_photoshop {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(0deg);
  margin: 30px;
  height: 30vh;
}
@media screen and (min-width: 426px) {
  .oeuvre_photoshop {
    transform: rotate(-5deg);
    height: 60vh;
  }
}
@media screen and (min-width: 768px) {
  .oeuvre_photoshop {
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) {
  .oeuvre_photoshop {
    height: 70vh;
  }
}
@media screen and (min-width: 1440px) {
  .oeuvre_photoshop {
    height: 95vh;
  }
}
.oeuvre_photoshop .image-photoshop {
  display: flex;
  justify-content: center;
}
.oeuvre_photoshop .image-photoshop .carres2-haut {
  width: 20%;
  margin-right: 3px;
}
.oeuvre_photoshop .image-photoshop .carres2-bas {
  width: 20%;
  margin-right: 3px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(0deg);
  margin: 30px;
  height: 30vh;
}
@media screen and (min-width: 426px) {
  .logo {
    transform: rotate(5deg);
    height: 60vh;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    height: 70vh;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    height: 95vh;
  }
}
.logo .image-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo .image-logo .carres3-haut {
  width: 20%;
  margin-right: 3px;
}
.logo .image-logo .carres3-bas {
  width: 20%;
  margin-right: 3px;
}

.oeuvre_numerique {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(0deg);
  margin: 30px;
  height: 30vh;
}
@media screen and (min-width: 426px) {
  .oeuvre_numerique {
    transform: rotate(-5deg);
    height: 60vh;
  }
}
@media screen and (min-width: 768px) {
  .oeuvre_numerique {
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) {
  .oeuvre_numerique {
    height: 70vh;
  }
}
@media screen and (min-width: 1440px) {
  .oeuvre_numerique {
    height: 95vh;
  }
}
.oeuvre_numerique .image-dessin-num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.oeuvre_numerique .image-dessin-num .carres-haut {
  width: 20%;
  margin-right: 3px;
}
.oeuvre_numerique .image-dessin-num .carres-bas {
  width: 20%;
  margin-right: 3px;
}

.pied_de_page {
  background-color: #F5F5F5;
}
.pied_de_page .centre_footer .remonte {
  transform: rotate(-180deg);
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pied_de_page .centre_footer .remonte .icon_scroll_haut {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pied_de_page .centre_footer .icones_contact {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.pied_de_page .centre_footer .icones_contact img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pied_de_page .centre_footer .text-piedpage {
  font-family: "IBM Plex Sans Thai", sans-serif;
  color: #0F0F0F;
  font-weight: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.pied_de_page .accueil_footer {
  position: relative;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.pied_de_page .accueil_footer .home {
  width: 25px;
}/*# sourceMappingURL=digital.css.map */