@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@600;700&family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("asset/font/Humane-ExtraLight.woff2") format("woff2"), url("asset/font/Humane-ExtraLight.woff") format("woff"), url("asset/font/Humane-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Bold.woff2") format("woff2"), url("asset/font/Humane-Bold.woff") format("woff"), url("asset/font/Humane-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Regular.woff2") format("woff2"), url("asset/font/Humane-Regular.woff") format("woff"), url("asset/font/Humane-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Regular_1.woff2") format("woff2"), url("asset/font/Humane-Regular_1.woff") format("woff"), url("asset/font/Humane-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("asset/font/Humane-SemiBold.woff2") format("woff2"), url("asset/font/Humane-SemiBold.woff") format("woff"), url("asset/font/Humane-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("asset/font/Humane-Medium.woff2") format("woff2"), url("asset/font/Humane-Medium.woff") format("woff"), url("asset/font/Humane-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("asset/font/Humane-ExtraLight_1.woff2") format("woff2"), url("asset/font/Humane-ExtraLight_1.woff") format("woff"), url("asset/font/Humane-ExtraLight_1.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Light.woff2") format("woff2"), url("asset/font/Humane-Light.woff") format("woff"), url("asset/font/Humane-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Thin.woff2") format("woff2"), url("asset/font/Humane-Thin.woff") format("woff"), url("asset/font/Humane-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Thin_1.woff2") format("woff2"), url("asset/font/Humane-Thin_1.woff") format("woff"), url("asset/font/Humane-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Bold_1.woff2") format("woff2"), url("asset/font/Humane-Bold_1.woff") format("woff"), url("asset/font/Humane-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("asset/font/Humane-SemiBold_1.woff2") format("woff2"), url("asset/font/Humane-SemiBold_1.woff") format("woff"), url("asset/font/Humane-SemiBold_1.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Light_1.woff2") format("woff2"), url("asset/font/Humane-Light_1.woff") format("woff"), url("asset/font/Humane-Light_1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("asset/font/Humane-Medium_1.woff2") format("woff2"), url("asset/font/Humane-Medium_1.woff") format("woff"), url("asset/font/Humane-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Light_2.woff2") format("woff2"), url("asset/font/Humane-Light_2.woff") format("woff"), url("asset/font/Humane-Light_2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Thin_2.woff2") format("woff2"), url("asset/font/Humane-Thin_2.woff") format("woff"), url("asset/font/Humane-Thin_2.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Bold_2.woff2") format("woff2"), url("asset/font/Humane-Bold_2.woff") format("woff"), url("asset/font/Humane-Bold_2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque SemBd";
  src: url("asset/font/Humane-SemiBold_2.woff2") format("woff2"), url("asset/font/Humane-SemiBold_2.woff") format("woff"), url("asset/font/Humane-SemiBold_2.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque Med";
  src: url("asset/font/Humane-Medium_2.woff2") format("woff2"), url("asset/font/Humane-Medium_2.woff") format("woff"), url("asset/font/Humane-Medium_2.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque ExtLt";
  src: url("asset/font/Humane-ExtraLight_2.woff2") format("woff2"), url("asset/font/Humane-ExtraLight_2.woff") format("woff"), url("asset/font/Humane-ExtraLight_2.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mango Grotesque";
  src: url("asset/font/Humane-Regular_2.woff2") format("woff2"), url("asset/font/Humane-Regular_2.woff") format("woff"), url("asset/font/Humane-Regular_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}
html * {
  box-sizing: border-box;
}

body {
  background-color: #0F0F0F;
  overflow-x: hidden;
}
body.scroll-lock {
  overflow: hidden;
}

.section {
  height: 100vh;
}

h1 {
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 12px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  color: #F5F5F5;
  font-family: "Mango Grotesque Med";
  font-weight: 700px;
  font-size: 20px;
  letter-spacing: 15px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 70px;
  }
}

.accueil {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accueil .welcome {
  position: relative;
  display: flex;
  justify-content: center;
}
.accueil .welcome_inner {
  width: 100%;
  max-width: 500px;
  position: relative;
  text-align: center;
  padding: 0 50px 100px;
  margin: 0 40px;
}
@media screen and (min-width: 426px) {
  .accueil .welcome_inner {
    padding: 0 80px 100px;
  }
}
.accueil .welcome h1 {
  position: absolute;
  right: 0;
  top: 40px;
  margin: 0;
  font-family: "Mango Grotesque Med";
  text-transform: uppercase;
  font-size: 32px;
  color: #F5F5F5;
  letter-spacing: 10px;
}
@media screen and (min-width: 426px) {
  .accueil .welcome h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 480px) {
  .accueil .welcome h1 {
    font-size: 60px;
  }
}
.accueil .welcome img {
  margin-top: 100px;
  max-width: 100%;
}
.accueil .welcome h2 {
  font-family: "Mango Grotesque";
  font-size: 50px;
  color: #E1B3D4;
  line-height: 0.8;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
@media screen and (min-width: 426px) {
  .accueil .welcome h2 {
    font-size: 90px;
  }
}
@media screen and (min-width: 480px) {
  .accueil .welcome h2 {
    font-size: 108px;
  }
}
.accueil .welcome .clara {
  position: absolute;
  left: 0;
  top: 50px;
}
.accueil .welcome .denudt {
  position: absolute;
  bottom: 0;
  right: 0;
}
.accueil .welcome .icone-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
}

.about {
  position: relative;
  z-index: 11;
  overflow-x: hidden;
}
.about-section:not(.about-section.section-text) {
  height: 100vh;
  flex: 1 0 50%;
}
.about .section-text {
  display: flex;
  flex: 1 0 2650px;
}
@media screen and (min-width: 426px) {
  .about .section-text {
    flex: 1 0 3580px;
  }
}
.about .contenu-about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow-x: auto;
}
.about .contenu-about .burger-about {
  position: absolute;
  top: 0;
  padding: 30px;
  z-index: 15;
}
.about .contenu-about .burger-about label {
  cursor: pointer;
}
.about .contenu-about .about-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 50%;
}
.about .contenu-about .about-img img {
  max-width: 100%;
  height: 40%;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .about-img img {
    height: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .about .contenu-about .about-img img {
    height: 70%;
  }
}
.about .contenu-about .photo-moi {
  display: flex;
  align-items: center;
  flex: 1 0 50%;
}
.about .contenu-about .photo-moi > img {
  max-width: 100%;
  height: 20%;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .photo-moi > img {
    height: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .about .contenu-about .photo-moi > img {
    height: 60%;
  }
}
.about .contenu-about .photo-moi .icone-scroll-right {
  position: relative;
  margin: 50px;
  animation: 2s scrollRight ease infinite alternate;
}
.about .contenu-about .photo-moi .icone-scroll-right img {
  width: 60%;
}
@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.about .contenu-about .texte {
  color: #F5F5F5;
  text-align: right;
  line-height: 1.2;
  display: flex;
  margin-left: 180px;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .texte {
    margin-left: 260px;
  }
}
.about .contenu-about .texte h3 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 22px;
  line-height: 60px;
  border-bottom: 3px solid #E1B3D4;
  padding-bottom: 0;
  text-align: left;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .texte h3 {
    font-size: 32px;
    border-bottom: 5px solid #E1B3D4;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about .contenu-about .texte h3 {
    font-size: 38px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about .contenu-about .texte h3 {
    padding-bottom: 35px;
  }
}
.about .contenu-about .texte p {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 18px;
  padding-top: 12px;
}
@media screen and (min-width: 1024px) {
  .about .contenu-about .texte p {
    font-size: 28px;
  }
}
.about .contenu-about .texte.double {
  display: flex;
}
.about .contenu-about .texte.double.icone-code div + div {
  display: flex;
  flex-direction: column;
}
.about .contenu-about .texte.double.icone-code div + div .icone-material {
  position: relative;
}
.about .contenu-about .texte.double.icone-code div + div .icone-material .icone-html {
  position: absolute;
  left: 60px;
  top: 50px;
}
.about .contenu-about .texte.double.icone-code div + div .icone-material .icone-css {
  position: absolute;
  left: 170px;
  top: 160px;
}
.about .contenu-about .texte.double.icone-code div + div .icone-material .icone-python {
  position: absolute;
  width: 20%;
  left: 300px;
  top: 90px;
}
.about .contenu-about .texte.double div + div {
  text-align: left;
  margin-left: 40px;
}
.about .contenu-about .contact {
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact {
    margin: 0 260px 0 200px;
  }
}
.about .contenu-about .contact h3 {
  color: #F5F5F5;
  border-bottom: 5px solid #E1B3D4;
  padding-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-family: "IBM Plex Sans Thai", sans-serif;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact h3 {
    padding-bottom: 35px;
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) {
  .about .contenu-about .contact h3 {
    font-size: 48px;
  }
}
.about .contenu-about .contact .contact_plus_cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .contenu-about .contact .contact_plus_cv .contact-me {
  margin-top: 30px;
}
.about .contenu-about .contact .contact_plus_cv .contact-me .qrcode_liens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.about .contenu-about .contact .contact_plus_cv .contact-me .qrcode_liens .qrcode_lien {
  width: 50%;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact .contact_plus_cv .contact-me .qrcode_liens .qrcode_lien {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .about .contenu-about .contact .contact_plus_cv .contact-me .qrcode_liens .qrcode_lien {
    width: 20%;
  }
}
.about .contenu-about .contact .contact_plus_cv .cv {
  margin-top: 30px;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact .contact_plus_cv .cv {
    margin-top: 60px;
  }
}
.about .contenu-about .contact .contact_plus_cv .cv .elt-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.about .contenu-about .contact .contact_plus_cv .cv .elt-button button {
  position: relative;
  background-color: #F5F5F5;
  cursor: pointer;
  max-width: 100%;
  padding: 5px 30px;
  border-radius: 100px;
  border-style: none;
  box-shadow: -10px 10px 15px #E1B3D4;
  box-sizing: border-box;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact .contact_plus_cv .cv .elt-button button {
    padding: 10px 70px;
  }
}
@media screen and (min-width: 768px) {
  .about .contenu-about .contact .contact_plus_cv .cv .elt-button button {
    padding: 15px 100px;
  }
}
.about .contenu-about .contact .contact_plus_cv .cv .elt-button button a {
  font-family: "Mango Grotesque";
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  color: #E1B3D4;
  text-decoration: none;
  letter-spacing: 10px;
}
@media screen and (min-width: 426px) {
  .about .contenu-about .contact .contact_plus_cv .cv .elt-button button a {
    font-size: 82px;
  }
}
.about .contenu-about .contact .contact_plus_cv .icone-scroll-contact {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}

.nav-home {
  width: 100%;
}
.nav-home nav {
  width: 100%;
  height: 100%;
}
.nav-home nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0px;
}
@media screen and (min-width: 426px) {
  .nav-home nav ul {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .nav-home nav ul {
    display: flex;
    flex-direction: row;
  }
}
.nav-home nav ul li {
  text-align: left;
  width: 100px;
  margin-top: 35px;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .nav-home nav ul li {
    width: 120px;
    margin-top: 0;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-home nav ul li {
    width: 180px;
    margin-top: 0;
  }
}
.nav-home nav ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.nav-home nav ul li a span {
  transition: 0.5s all ease;
  display: block;
  transform-origin: bottom left;
  border-bottom: 5px solid #E1B3D4;
  color: #F5F5F5;
  font-family: "Mango Grotesque";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.165em;
  padding-bottom: 26px;
}
@media screen and (min-width: 426px) {
  .nav-home nav ul li a span {
    font-size: 82px;
  }
}
@media screen and (min-width: 768px) {
  .nav-home nav ul li a span {
    font-size: 90px;
    transform: rotate(-90deg) translateY(100%);
  }
}
@media screen and (min-width: 1024px) {
  .nav-home nav ul li a span {
    font-size: 128px;
  }
}
.nav-home nav ul li a span:hover {
  transform: rotate(-90deg) translateY(100%) translateX(50px);
}
.nav-home nav ul li:last-child span {
  border: none;
}
.nav-home nav ul li:nth-child(1) span:hover {
  color: pink;
}
.nav-home nav ul li:nth-child(2) span:hover {
  color: rgb(255, 153, 204);
}
.nav-home nav ul li:nth-child(3) span:hover {
  color: rgb(255, 102, 204);
}
.nav-home nav ul li:nth-child(4) span:hover {
  color: rgb(255, 51, 204);
}
.nav-home nav ul li:nth-child(5) span:hover {
  color: rgb(255, 0, 204);
}

.menu {
  position: fixed;
  overflow: hidden;
}
.menu input[name=menu-toggler] {
  opacity: 0;
  width: 1px;
  height: 1px;
  transform: translateX(-2px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}
.menu input[name=menu-toggler]:checked + .menu-wrap {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.menu .menu-wrap {
  transition: 0.3s all ease-in-out;
  background-color: #F5F5F5;
  opacity: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  transform: translateX(-100%);
}
.menu .menu-wrap nav ul li {
  text-align: left;
  width: 300px;
  margin-top: 40px;
  margin-left: 46px;
}
@media (any-hover: hover) {
  .menu .menu-wrap nav ul li:hover a span {
    transform: translateX(50px);
  }
}
@media screen and (min-width: 768px) {
  .menu .menu-wrap nav ul li {
    width: 500px;
  }
}
.menu .menu-wrap nav ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.menu .menu-wrap nav ul li a span {
  transition: 0.5s all ease;
  display: block;
  transform-origin: bottom left;
  border-bottom: 5px solid #E1B3D4;
  color: #0F0F0F;
  font-family: "Mango Grotesque";
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.165em;
  padding-bottom: 18px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap nav ul li a span {
    font-size: 64px;
    padding-bottom: 26px;
  }
}
.menu .menu-wrap nav ul li:last-child span {
  border: none;
}
.menu .menu-wrap nav ul li:nth-child(1):hover span {
  color: rgb(255, 230, 204);
}
.menu .menu-wrap nav ul li:nth-child(2) span:hover {
  color: rgb(255, 204, 204);
}
.menu .menu-wrap nav ul li:nth-child(3) span:hover {
  color: rgb(255, 153, 204);
}
.menu .menu-wrap nav ul li:nth-child(4) span:hover {
  color: rgb(255, 102, 204);
}
.menu .menu-wrap nav ul li:nth-child(5) span:hover {
  color: rgb(255, 0, 204);
}
.menu .menu-wrap div a {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap div a {
    padding: 30px;
  }
}
.menu .menu-wrap div .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
@media screen and (min-width: 426px) {
  .menu .menu-wrap div .close {
    padding: 30px;
  }
}

.haut-de-page .burger-hdp {
  position: fixed;
  top: 0;
  padding: 30px;
  z-index: 15;
}
.haut-de-page .burger-hdp label {
  cursor: pointer;
}
.haut-de-page .burger-hdp label img {
  width: 60%;
}
@media screen and (min-width: 426px) {
  .haut-de-page .burger-hdp label img {
    width: auto;
  }
}
.haut-de-page .logo_cla_rose {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
.haut-de-page .logo_cla_rose .logo_hdp {
  animation: logo 2s linear infinite;
  width: 10%;
}
@media screen and (min-width: 426px) {
  .haut-de-page .logo_cla_rose .logo_hdp {
    width: 9%;
  }
}
@media screen and (min-width: 768px) {
  .haut-de-page .logo_cla_rose .logo_hdp {
    width: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .haut-de-page .logo_cla_rose .logo_hdp {
    width: 5%;
  }
}
@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.haut-de-page .titre-icon .elt .hdp_titre {
  width: 35%;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}
@media screen and (min-width: 426px) {
  .haut-de-page .titre-icon .elt .hdp_titre {
    margin-top: 0;
  }
}
.haut-de-page .titre-icon .elt .influ {
  width: 40%;
}
.haut-de-page .titre-icon .elt .icon_scroll_hdp {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.nav_digital {
  background: url("../img/chefs-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}
.nav_digital .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.nav_digital .container h2 {
  margin-bottom: 60px;
}
.nav_digital .container .row {
  margin-bottom: 30px;
}
.nav_digital .container .row_bis {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.nav_digital .container .carte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.nav_digital .container .carte .pic {
  overflow: hidden;
}
.nav_digital .container .carte .pic .festival_nav {
  width: 85%;
}
.nav_digital .container .carte .pic .vinyle_nav {
  width: 80%;
}
.nav_digital .container .carte .pic .cdv_nav {
  width: 80%;
}
.nav_digital .container .carte .pic .animation_nav {
  width: 100%;
}
.nav_digital .container .carte .pic .draw_nav {
  width: 90%;
}
.nav_digital .container .carte .carte-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -80px;
  left: 20px;
  right: 20px;
  background: #E1B3D4;
  border-radius: 35px;
  padding: 20px 0;
  color: #F5F5F5;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.nav_digital .container .carte h4 {
  font-weight: 500;
  font-size: 22px;
  color: #F5F5F5;
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
}
.nav_digital .container .carte .social {
  margin-top: 15px;
}
.nav_digital .container .carte .social a {
  transition: color 0.3s;
  color: #7a7368;
}
@media (max-width: 992px) {
  .nav_digital .container .carte {
    margin-bottom: 110px;
  }
}
@media (min-width: 1024px) {
  .nav_digital {
    background-attachment: fixed;
  }
}

.bouton_retour {
  margin-left: 30px;
  margin-bottom: 30px;
}
.bouton_retour a {
  background-color: #E1B3D4;
  padding: 10px 40px;
  border-radius: 35px;
  text-decoration: none;
  color: #F5F5F5;
  font-family: "Mango Grotesque Med";
  font-weight: 700px;
  font-size: 20px;
  margin: 10px;
  letter-spacing: 5px;
}
@media screen and (min-width: 426px) {
  .bouton_retour a {
    font-size: 20px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 768px) {
  .bouton_retour a {
    font-size: 30px;
    letter-spacing: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .bouton_retour a {
    font-size: 50px;
  }
}

.web {
  margin-bottom: 60px;
}
.web .lescards {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.web .lescards .cards {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.web .lescards .cards .card_test {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}
.web .lescards .cards .card_test .temporary_image img {
  width: 100%;
}
.web .lescards .cards .card_test .card_test_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(115px);
  transition: transform 0.25s;
}
.web .lescards .cards .card_test .card_test_content .card_test_title {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: bold;
  color: #131313;
  line-height: 15px;
}
.web .lescards .cards .card_test .card_test_content .card_test_subtitle {
  font-family: "IBM Plex Sans Thai", sans-serif;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.web .lescards .cards .card_test .card_test_content .card_test_description {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 12px;
}
.web .lescards .cards .card_test .card_test_content:before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}
.web .lescards .cards .card_test .card_test_content:hover {
  transform: translateY(0);
}
@media screen and (min-width: 970px) {
  .web .lescards .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.web .cta {
  text-decoration: none;
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}
.web .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #E1B3D4;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.web .cta span {
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #F5F5F5;
}
.web .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #F5F5F5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.web .cta svg:hover {
  transform: translateX(0);
}
.web .cta:hover:before {
  width: 100%;
  background: #E1B3D4;
}
.web .cta:active {
  transform: scale(0.95);
}
.web .en_cours {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.web .en_cours h2 {
  padding: 20px;
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  .web .en_cours h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .web .en_cours h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .web .en_cours h2 {
    font-size: 70px;
  }
}
.web .en_cours .figma {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.web .en_cours .figma a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 30px;
}
.web .en_cours .figma a img {
  width: 50%;
}

.illustrator {
  margin-bottom: 60px;
}
.illustrator .carte {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustrator .carte .groupe_carte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustrator .carte .groupe_carte .carte_gauche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .illustrator .carte .groupe_carte .carte_gauche {
    width: 30%;
  }
}
.illustrator .carte .groupe_carte .carte_gauche .carte_gauche1 {
  margin: 5px;
  width: 98%;
}
.illustrator .carte .groupe_carte .carte_gauche .carte_gauche2 {
  margin: 5px;
  width: 98%;
}
.illustrator .carte .groupe_carte .carte_droite1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40.5%;
}
@media screen and (min-width: 426px) {
  .illustrator .carte .groupe_carte {
    flex-direction: row;
  }
}
.illustrator .carte h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .illustrator .carte h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .illustrator .carte h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .illustrator .carte h2 {
    font-size: 70px;
  }
}
.illustrator .logo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustrator .logo .logo_haut1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .illustrator .logo .logo_haut1 {
    width: 52.5%;
  }
}
.illustrator .logo .groupe_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustrator .logo .groupe_logo .logo_bas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .illustrator .logo .groupe_logo .logo_bas {
    flex-direction: row;
  }
}
.illustrator .logo .groupe_logo .logo_bas .logo_bas1 {
  margin: 5px;
  width: 100%;
}
.illustrator .logo .groupe_logo .logo_bas .logo_bas2 {
  margin: 5px;
  width: 100%;
}
@media screen and (min-width: 426px) {
  .illustrator .logo .groupe_logo .logo_bas .logo_bas2 {
    flex-direction: row;
    width: 84%;
  }
}
.illustrator .logo h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .illustrator .logo h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .illustrator .logo h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .illustrator .logo h2 {
    font-size: 70px;
  }
}
.illustrator .montre {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustrator .montre .groupe_montre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 426px) {
  .illustrator .montre .groupe_montre {
    flex-direction: row;
  }
}
.illustrator .montre .groupe_montre .montre_gauche1 {
  margin: 5px;
  width: 32%;
}
@media screen and (min-width: 426px) {
  .illustrator .montre .groupe_montre .montre_gauche1 {
    width: 30%;
  }
}
.illustrator .montre .groupe_montre .montre_gauche2 {
  margin: 5px;
  width: 32%;
}
.illustrator .montre h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .illustrator .montre h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .illustrator .montre h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .illustrator .montre h2 {
    font-size: 70px;
  }
}

.photoshop {
  margin-bottom: 60px;
}
.photoshop .dalida {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photoshop .dalida .groupe_dalida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 426px) {
  .photoshop .dalida .groupe_dalida {
    flex-direction: row;
  }
}
.photoshop .dalida .groupe_dalida .dalida1 {
  margin: 5px;
  width: 45%;
}
@media screen and (min-width: 426px) {
  .photoshop .dalida .groupe_dalida .dalida1 {
    width: 25%;
  }
}
.photoshop .dalida .groupe_dalida .dalida2 {
  margin: 5px;
  width: 45%;
}
@media screen and (min-width: 426px) {
  .photoshop .dalida .groupe_dalida .dalida2 {
    width: 25%;
  }
}
.photoshop .dalida .groupe_dalida .dalida3 {
  margin: 5px;
  width: 45%;
}
@media screen and (min-width: 426px) {
  .photoshop .dalida .groupe_dalida .dalida3 {
    width: 25%;
  }
}
.photoshop .dalida h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .photoshop .dalida h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .photoshop .dalida h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .photoshop .dalida h2 {
    font-size: 70px;
  }
}
.photoshop .chaise {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photoshop .chaise .groupe_chaise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photoshop .chaise .groupe_chaise .chaise_gauche1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 50%;
}
.photoshop .chaise .groupe_chaise .chaise_droite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 62%;
}
@media screen and (min-width: 426px) {
  .photoshop .chaise .groupe_chaise .chaise_droite {
    width: 30%;
  }
}
.photoshop .chaise .groupe_chaise .chaise_droite .chaise_droite1 {
  margin: 5px;
  width: 81%;
}
.photoshop .chaise .groupe_chaise .chaise_droite .chaise_droite2 {
  margin: 5px;
  width: 81%;
}
@media screen and (min-width: 426px) {
  .photoshop .chaise .groupe_chaise {
    flex-direction: row;
  }
}
.photoshop .chaise h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .photoshop .chaise h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .photoshop .chaise h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .photoshop .chaise h2 {
    font-size: 70px;
  }
}
.photoshop .vinyle {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photoshop .vinyle .groupe_vinyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photoshop .vinyle .groupe_vinyle .vinyle_gauche1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40%;
}
.photoshop .vinyle .groupe_vinyle .vinyle_droite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .photoshop .vinyle .groupe_vinyle .vinyle_droite {
    width: 30%;
  }
}
.photoshop .vinyle .groupe_vinyle .vinyle_droite .vinyle_droite1 {
  margin: 5px;
  width: 98%;
}
.photoshop .vinyle .groupe_vinyle .vinyle_droite .vinyle_droite2 {
  margin: 5px;
  width: 98%;
}
@media screen and (min-width: 426px) {
  .photoshop .vinyle .groupe_vinyle {
    flex-direction: row;
  }
}
.photoshop .vinyle h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .photoshop .vinyle h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .photoshop .vinyle h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .photoshop .vinyle h2 {
    font-size: 70px;
  }
}

.dessin-num {
  margin-bottom: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessin-num .dessin_haut1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .dessin-num .dessin_haut1 {
    width: 52.5%;
  }
}
.dessin-num .groupe_dessin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessin-num .groupe_dessin .dessin_bas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
@media screen and (min-width: 426px) {
  .dessin-num .groupe_dessin .dessin_bas {
    flex-direction: row;
  }
}
.dessin-num .groupe_dessin .dessin_bas .dessin_bas1 {
  margin: 5px;
  width: 100%;
}
@media screen and (min-width: 426px) {
  .dessin-num .groupe_dessin .dessin_bas .dessin_bas1 {
    flex-direction: row;
    width: 47%;
  }
}
.dessin-num .groupe_dessin .dessin_bas .dessin_bas2 {
  margin: 5px;
  width: 100%;
}
@media screen and (min-width: 426px) {
  .dessin-num .groupe_dessin .dessin_bas .dessin_bas2 {
    flex-direction: row;
    width: 84%;
  }
}
.dessin-num h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 426px) {
  .dessin-num h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .dessin-num h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .dessin-num h2 {
    font-size: 70px;
  }
}

.animations {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.animations img {
  width: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nom__artiste {
  font-family: "Mango Grotesque";
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.165em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.text__artiste {
  font-size: 12px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  display: block;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
}
@media screen and (min-width: 426px) {
  .text__artiste {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .text__artiste {
    font-size: 18px;
  }
}

.droit_auteurs {
  background-color: #E1B3D4;
}
.droit_auteurs .droit_texte {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  color: #0F0F0F;
  padding: 50px;
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 426px) {
  .droit_auteurs .droit_texte {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .droit_auteurs .droit_texte {
    font-size: 18px;
  }
}

.dankitchener {
  margin-top: 100px;
}
.dankitchener .image__dan {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dankitchener .image__dan .dan_haut {
  display: flex;
  justify-content: center;
  width: 20%;
}
.dankitchener .image__dan .dan_haut .survol {
  transition: transform 0.1s;
}
.dankitchener .image__dan .dan_haut .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}
.dankitchener .image__dan .dan_bas {
  display: flex;
  justify-content: center;
  width: 20%;
}
.dankitchener .image__dan .dan_bas .survol {
  transition: transform 0.1s;
}
.dankitchener .image__dan .dan_bas .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}

.brunograffer {
  margin-top: 100px;
}
.brunograffer .image__bruno {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.brunograffer .image__bruno .bruno_haut {
  display: flex;
  justify-content: center;
  width: 20%;
}
.brunograffer .image__bruno .bruno_haut .survol {
  transition: transform 0.1s;
}
.brunograffer .image__bruno .bruno_haut .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}
.brunograffer .image__bruno .bruno_bas {
  display: flex;
  justify-content: center;
  width: 20%;
}
.brunograffer .image__bruno .bruno_bas .survol {
  transition: transform 0.1s;
}
.brunograffer .image__bruno .bruno_bas .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}

.bublegumsr {
  margin-top: 100px;
  margin-bottom: 100px;
}
.bublegumsr .image__gum {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bublegumsr .image__gum .gum_haut {
  display: flex;
  justify-content: center;
  width: 20%;
}
.bublegumsr .image__gum .gum_haut .survol {
  transition: transform 0.1s;
}
.bublegumsr .image__gum .gum_haut .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}
.bublegumsr .image__gum .gum_bas {
  display: flex;
  justify-content: center;
  width: 20%;
}
.bublegumsr .image__gum .gum_bas .survol {
  transition: transform 0.1s;
}
.bublegumsr .image__gum .gum_bas .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}

.dessins {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .dessins {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .dessins {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.dessins img {
  width: 70%;
  margin-top: 100px;
  margin-bottom: 30px;
  border-radius: 3%;
}
.dessins h2 {
  font-family: "Mango Grotesque Med";
  font-weight: light;
  text-align: center;
  font-size: 20px;
  letter-spacing: 7px;
  margin: 10px;
}
@media screen and (min-width: 426px) {
  .dessins h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .dessins h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .dessins h2 {
    font-size: 50px;
  }
}
.dessins p {
  display: block;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .dessins p {
    font-size: 15px;
  }
}
.dessins .dessins_gauche .survol {
  transition: transform 0.1s;
}
.dessins .dessins_gauche .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}
.dessins .dessins_gauche .fish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_gauche .lapin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_gauche .crane {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .escargot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .poulpe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .smile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .cauchemars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .sirenne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .diablotin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_gauche .fleurs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_droite .survol {
  transition: transform 0.1s;
}
.dessins .dessins_droite .survol:hover {
  /* IE 9 */
  /* Safari 3-8 */
  transform: scale(1.1);
}
.dessins .dessins_droite .crea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .model {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .oeil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .cornes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .souris {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .caricature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .siren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .fillette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .eren {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dessins .dessins_droite .fumee {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dessins .dessins_droite .perfection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mathilde {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.mathilde h2 {
  text-align: right;
  color: #E1B3D4;
}
.mathilde .titre_photos {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mathilde .titre_photos .photoshoot {
  margin: 30px;
  text-align: center;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .mathilde .titre_photos .photoshoot {
    font-size: 24px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .mathilde .titre_photos .photoshoot {
    font-size: 32px;
    margin-right: 50px;
  }
}
.mathilde .titre_photos .scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius: 15px;
}
.mathilde .titre_photos .scroll-container .gridscroll {
  display: inline-block;
}
.mathilde .titre_photos .scroll-container .gridscroll .photo {
  width: 45%;
  margin-right: 22px;
}
@media screen and (min-width: 426px) {
  .mathilde .titre_photos .scroll-container .gridscroll .photo {
    width: 35%;
  }
}
@media screen and (min-width: 768px) {
  .mathilde .titre_photos .scroll-container .gridscroll .photo {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .mathilde .titre_photos .scroll-container .gridscroll .photo {
    width: 25%;
  }
}

.bague {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.bague h2 {
  text-align: right;
  color: #E1B3D4;
}
.bague .titre_photos {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.bague .titre_photos .photoshoot {
  margin: 30px;
  text-align: center;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .bague .titre_photos .photoshoot {
    font-size: 24px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .bague .titre_photos .photoshoot {
    font-size: 32px;
    margin-right: 50px;
  }
}
.bague .titre_photos .scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius: 15px;
}
.bague .titre_photos .scroll-container .gridscroll {
  display: inline-block;
}
.bague .titre_photos .scroll-container .gridscroll .photo {
  width: 50%;
  margin-right: 22px;
}
@media screen and (min-width: 426px) {
  .bague .titre_photos .scroll-container .gridscroll .photo {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .bague .titre_photos .scroll-container .gridscroll .photo {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .bague .titre_photos .scroll-container .gridscroll .photo {
    width: 35%;
  }
}

.gant {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.gant h2 {
  text-align: right;
  color: #E1B3D4;
}
.gant .titre_photos {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gant .titre_photos .photoshoot {
  margin: 30px;
  text-align: center;
  color: #F5F5F5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .gant .titre_photos .photoshoot {
    font-size: 24px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .gant .titre_photos .photoshoot {
    font-size: 32px;
    margin-right: 50px;
  }
}
.gant .titre_photos .scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius: 15px;
}
.gant .titre_photos .scroll-container .gridscroll {
  display: inline-block;
}
.gant .titre_photos .scroll-container .gridscroll .photo {
  width: 45%;
  margin-right: 22px;
}
@media screen and (min-width: 426px) {
  .gant .titre_photos .scroll-container .gridscroll .photo {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .gant .titre_photos .scroll-container .gridscroll .photo {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .gant .titre_photos .scroll-container .gridscroll .photo {
    width: 30%;
  }
}

.customs .clown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
@media screen and (min-width: 426px) {
  .customs .clown {
    flex-direction: row;
  }
}
.customs .clown .texte_clown {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 12px;
  color: #F5F5F5;
  font-weight: 700px;
  margin-bottom: 20px;
}
@media screen and (min-width: 426px) {
  .customs .clown .texte_clown {
    font-size: 12px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 768px) {
  .customs .clown .texte_clown {
    font-size: 18px;
  }
}
.customs .clown .texte_clown h3 {
  font-size: 20px;
}
@media screen and (min-width: 426px) {
  .customs .clown .texte_clown h3 {
    font-size: 30px;
  }
}
.customs .clown .photo_clown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.customs .clown .photo_clown .triangle_gauche {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.customs .clown .photo_clown .triangle_gauche .clown1 {
  width: 50%;
}
.customs .clown .photo_clown .triangle_gauche .clown2 {
  width: 60%;
}
.customs .clown .photo_clown .triangle_droit {
  border-bottom: #E1B3D4;
  border-width: 500px;
}
.customs .clown .photo_clown .triangle_droit .clown3 {
  width: 80%;
}
.customs .jean {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
@media screen and (min-width: 426px) {
  .customs .jean {
    flex-direction: row;
  }
}
.customs .jean .texte_jean {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 12px;
  color: #F5F5F5;
  font-weight: 700px;
  margin-bottom: 20px;
}
@media screen and (min-width: 426px) {
  .customs .jean .texte_jean {
    font-size: 12px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 768px) {
  .customs .jean .texte_jean {
    font-size: 18px;
  }
}
.customs .jean .texte_jean h3 {
  font-size: 20px;
}
@media screen and (min-width: 426px) {
  .customs .jean .texte_jean h3 {
    font-size: 30px;
  }
}
.customs .jean .photo_jean {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.customs .jean .photo_jean .triangle_gauche {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.customs .jean .photo_jean .triangle_gauche .jean1 {
  width: 50%;
}
.customs .jean .photo_jean .triangle_gauche .jean4 {
  width: 60%;
}
.customs .jean .photo_jean .triangle_droit {
  border-bottom: #E1B3D4;
  border-width: 500px;
}
.customs .jean .photo_jean .triangle_droit .jean2 {
  width: 80%;
}

.pied_de_page {
  background-color: #F5F5F5;
}
.pied_de_page .centre_footer .remonte {
  transform: rotate(-180deg);
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pied_de_page .centre_footer .remonte .icon_scroll_haut {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pied_de_page .centre_footer .icones_contact {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.pied_de_page .centre_footer .icones_contact img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pied_de_page .centre_footer .text-piedpage {
  font-family: "IBM Plex Sans Thai", sans-serif;
  color: #0F0F0F;
  font-weight: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.pied_de_page .accueil_footer {
  position: relative;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.pied_de_page .accueil_footer .home {
  width: 25px;
}/*# sourceMappingURL=style.css.map */